<div class="container">
    <div tabindex="-1" id="Loading" role="dialog" aria-hidden="true" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="top:125px;">
                <div class="modal-body">
                    <div align="center">
                        <p><strong>Por favor espere...</strong></p>
                        <img src="~/images/scorchingfire_ajaxloading.svg" class="img-fluid" alt="Responsive image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>