<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                <i class="fa fa-th-list "></i>    
                <span>The Panama Nest Ontology</span>
            </button>             
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div>                        
                        <a href="@Url.Action("Index", "Home")" class="btn btn-default"><i class="fa fa-home"></i>Home</a>                          
                    </div>
                </li>
                <li>
                    <div>                        
                        <a href="@Url.Action("About", "Home")" class="btn btn-default"><i class="fa fa-user"></i>About</a>
                    </div>
                </li>
                <li>
                    <div>                        
                        <a href="@Url.Action("Contact", "Home")" class="btn btn-default"><i class="glyphicon glyphicon-send"></i>Contact</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>