@{
    ViewData["Title"] = "Species";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Add New Specie</h1>
            <h4>Decribe the Species Taxon</h4>
        </div>
    </div>
    <div class="row" id="panel_generalInfo">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Species Information
                </div>
            </div>
            <div class="panel-body">
                <div>
                    <div class="row" style="margin-bottom:15px">
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-sm-5 control-label text-right">Binomial Name</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="txtBiName" maxlength="50" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label control-label text-right">Common Name</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="txtCommonName" maxlength="50" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:15px">
                        <div class="col-md-6">
                            <div class="row" id="Order">
                                <label class="col-md-5 control-label text-right">Belongs to Order</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="txtName" maxlength="35" readonly />
                                    <input type="hidden" id="txtUri" />
                                    <input type="hidden" id="txtExist" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-primary" onclick="getEntities('getorders', 'Order')">
                                        <i class="fa fa-th-list"></i> Choose
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-primary" onclick="showNewEntityModal('Añadir Orden', 'Order')">
                                        <i class="fa fa-plus"></i> Add New
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:15px">
                        <div class="col-md-6">
                            <div class="row" id="Family">
                                <label class="col-md-5 control-label text-right">Belongs to Family</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="txtName" maxlength="35" readonly />
                                    <input type="hidden" id="txtUri" />
                                    <input type="hidden" id="txtExist" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-primary" onclick="getEntities('getfamilies', 'Family')">
                                        <i class="fa fa-th-list"></i> Choose
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-primary" onclick="showNewEntityModal('Añadir Familia', 'Family')">
                                        <i class="fa fa-plus"></i> Add New
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:15px">
                        <div class="col-md-6">
                            <div class="row" id="Gen">
                                <label class="col-md-5 control-label text-right">Belong to Genus</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="txtName" maxlength="35" readonly />
                                    <input type="hidden" id="txtUri" />
                                    <input type="hidden" id="txtExist" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-primary" onclick="getEntities('GetGenus', 'Gen')">
                                        <i class="fa fa-th-list"></i> Choose
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-primary" onclick="showNewEntityModal('Añadir Gen', 'Gen')">
                                        <i class="fa fa-plus"></i> Add New
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="panel-footer">Footer del panel</div>*@
        </div>
    </div>

    <div class="row" id="panel_featuresInfo">
        <div class="col-lg-12">
            <div class="panel panel-red">
                <div class="panel-heading">
                    Species Features
                </div>
            </div>
            <div class="panel-body">
                <div>
                    <div class="row">
                        <div class="col-md-4">
                            <span>Select Region</span>
                            <div>
                                <ul id="regionContainer">

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <span>Select Habitat</span>
                            <div>
                                <ul id="habitatContainer">

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <span>Additional Info</span>
                            <div class="row" style="margin-top:15px; margin-bottom:15px">
                                <label class="col-md-3 control-label text-right">Avg. Size</label>
                                <div class="col-md-6">
                                    <input type="text" class="col-md-3 form-control" id="txtAvgSize" maxlength="10" />
                                </div>
                            </div>
                            <div class="row" style="margin-bottom:15px">
                                <label class="col-md-3 control-label text-right">Body Color</label>
                                <div class="col-md-6">
                                    <input type="text" class="col-md-3 form-control" id="txtBodyColor" maxlength="10" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-danger btn-block" onclick="createSpecie()">
                                        <i class="fa fa-plus"></i> Crear
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="panel-footer">Footer del panel</div>*@
        </div>
    </div>
</div>

@section BodyArea {
    <!-- Modal Large-->
    @Html.Partial("_Loading")
    <div id="EntityModal" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="modalTitle" class="modal-title">Add Entity</h4>
                </div>
                <div class="modal-body">
                    <label>Resource Name</label>
                    <input type="text" class="form-control" maxlength="35" id="txtContent" />
                    @*<!-- START panel-->
                        <div class="panel panel-red">
                            <div class="panel-heading"></div>
                            <div class="panel-body">

                            </div>
                        </div>
                        <!-- END panel-->*@
                    <div class="form-group" style="text-align:right;">
                        <div id="buttonPanelBP">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default" id="btnAccept">OK</button>
                    <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="SelectEntityModal" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
        <div class="modal-dialog" style="width:750px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="modalTitle" class="modal-title">Select Entity</h4>
                </div>
                <div class="modal-body">
                    <!-- START panel-->
                    <div class="panel panel-red">
                        <div class="panel-heading"></div>
                        <div class="panel-body">
                            <div class="table-responsive" style="overflow-y:scroll;  max-height:350px !important">
                                <table id="entityTable" class="table table-striped table-hover" role="grid">
                                    <thead>
                                        <tr>
                                            <th><strong>URI</strong></th>
                                            <th><strong>Name</strong></th>
                                            <th><strong>Children</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- END panel-->
                    <div class="form-group" style="text-align:right;">
                        <div id="buttonPanelBP">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default" id="modalAccept">OK</button>
                    <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{

    <script type="text/javascript">

        //Ejecucion global
        var global = {};
        $(document).ready(function () {

            global.item = {
                id: "",
                name: "",
                uri: ""
            };

            global.table = $('#entityTable').DataTable();

            $('#entityTable tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    global.table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });  
            $('#modalAccept').bind('click', function () { 
                console.log('Estoy en el boton' + global.item.id);
                data = global.table.rows('.selected').data()[0];
                console.log(data);
                $('#' + global.item.id + ' #txtName').val(data.name);
                $('#' + global.item.id + ' #txtUri').val(data.uri);
                global.item.id
            });

            getHabitatRegion();
        });

        //Creacion de checkbox dinamico
        var createCheckboxList = function (parent, data) {
            var container = $('#' + parent);
            $.each(data, function (index, value) {
                var li = $('<li/>')
                    //.addClass('ui-menu-item')
                    //.attr('role', 'menuitem')
                    .appendTo(container);

                var div = $('<div/>')
                    .addClass('checkbox')
                    .appendTo(li);     

                var label = $('<label/>')
                    .text(value.name)
                    .appendTo(div);

                var input = $('<input/>')
                    //.addClass('ui-all')
                    .attr('type', 'checkbox')
                    .prependTo(label);               

            });
        }

        //Funciones 
        var showNewEntityModal = function (modalTitle, id) {
            $('#EntityModal').modal('show');
            $('#EntityModal #modalTitle').html(modalTitle);

            console.log('Antes de setiar onclick');
            $('#EntityModal #btnAccept').bind('click', function () { setModalData(id, 'false') });
        }

        //Esto es cuando es una nueva entidad 
        var setModalData = function (id, exist) {
            console.log('Se ejecuto el click ' + id);
            $('#' + id + ' #txtName').val($('#EntityModal #txtContent').val());
            $('#' + id + ' #Exist').val(exist);
            $('#EntityModal #btnAccept').unbind('click');

            //Clean up
            $('#EntityModal #txtContent').val('');
        }

        var setDataTable = function (content) {
            console.log('Antes de crear la tabla');
            console.log(content);

            global.table = $('#entityTable').DataTable();
            global.table.destroy();

            global.table = $('#entityTable').DataTable({
                autoWidth: true,
                ordering: true,
                data: content,
                columnDefs: [{
                    targets: 0,
                    render: function (data, type, row) {
                        return type === 'display' && data.length > 10 ?
                            data.substr(0, 47) + '…' :
                            data;
                    }
                }],
                columns: [
                    { data: 'uri' },
                    { data: 'name' },
                    { data: 'childsCount'}
                ]
            });             

            $('#SelectEntityModal').modal('show');
        }    

        var getHabitatRegion = function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetHabitatRegion", "Ontology")',
                contentType: 'application/json;charset=utf-8',
                dataType: 'json',

                beforeSend: function () {
                    $('#Loading').modal('show');
                    //console.log(this.data);
                },

                success: function (data, id) {                    
                    var result = data.data;
                    if (data.error.code == 200) {
                        console.log(result);
                        createCheckboxList('regionContainer', result.region);
                        createCheckboxList('habitatContainer', result.habitat);
                    }
                    else {
                        swal("Error!", 'Ocurrio un error al cargar tus datos...', "error");
                    }
                    $('#Loading').modal('hide');
                },

                error: function (jqXHR, textStatus, errorThrown) {
                    $('#Loading').modal('hide');
                    swal("Error!", errorThrown, "error");
                    console.log("getData" + " errorThrown: " + errorThrown + " jqXHR: " + jqXHR + " textStatus " + textStatus);
                }
            });
        }

        var getSpeciesObject = function () {
            var bird = {
                Uri: "",
                Name: "",
                CommonName: $('#txtCommonName').val(),
                BinomialName: $('#txtBiName').val(),
                Order: {
                    Uri: $('#Order #txtUri').val(),
                    Name: $('#Order #txtName').val(),
                    ParentUri: "",
                    ParentName: "",
                    Children: []
                },
                Family: {
                    Uri: $('#Family #txtUri').val(),
                    Name: $('#Family #txtName').val(),
                    ParentUri: "",
                    ParentName: "",
                    Children: []
                },
                Genus: {
                    Uri: $('#Gen #txtUri').val(),
                    Name: $('#Gen #txtName').val(),
                    ParentUri: "",
                    ParentName: "",
                    Children: []
                },
                Specie: {},
                Habitat: [],
                Region: []
            };

            return bird;
        }

        var getEntities = function (action, id) {          

            global.item.id = id;

            var string = '@Url.Action("GetOrders", "Ontology")';
            string = string.replace("getorders", action);
            console.log(string);
            $.ajax({
                type: 'GET',
                url: string,
                contentType: 'application/json;charset=utf-8',
                dataType: 'json',

                beforeSend: function () {
                    $('#Loading').modal('show');
                    console.log(this.data);
                },

                success: function (data, id) {
                    $('#Loading').modal('hide');                    
                    var result = data.data;
                    if (data.error.code == 200) {
                        console.log(result);
                        setDataTable(result);                        
                    }
                    else {
                        swal("Error!", 'Ocurrio un error al cargar tus datos...', "error");
                    }
                },                

                error: function (jqXHR, textStatus, errorThrown) {
                    $('#Loading').modal('hide');
                    swal("Error!", errorThrown, "error");
                    console.log("getData" + " errorThrown: " + errorThrown + " jqXHR: " + jqXHR + " textStatus " + textStatus);
                }
            });
        }

        var createSpecie = function () {
            var content = getSpeciesObject();
            console.log(content);

            $.ajax({
                type: 'POST',
                url:'@Url.Action("CreateBird", "Ontology")',
                contentType: 'application/json;charset=utf-8',
                dataType: 'json',
                data: JSON.stringify(content),

                beforeSend: function () {
                    $('#Loading').modal('show');
                    console.log(this.data);
                },

                success: function (data, id) {
                    $('#Loading').modal('hide');
                    var result = data.data;
                    if (data.error.code == 200) {
                        console.log(result);
                    }
                    else {
                        swal("Error!", 'Ocurrio un error al cargar tus datos...', "error");
                    }
                },

                error: function (jqXHR, textStatus, errorThrown) {
                    $('#Loading').modal('hide');
                    swal("Error!", errorThrown, "error");
                    console.log("getData" + " errorThrown: " + errorThrown + " jqXHR: " + jqXHR + " textStatus " + textStatus);
                }
            });
        }
    </script>
}
