@{
    ViewData["Title"] = "About";
}
<h2 align="center">@ViewData["Title"]</h2>
<h3 align="center">Learn About Birdcage</h3>

<p align="center">
    The Panamanian Nest Ontology is a project developed by students from Universidad Tecnologica de Panamá<br />
    Use this area to provide additional information.
</p>

