@{
    ViewData["Title"] = "About";
}
<h2 align="center">@ViewData["Title"]</h2>

<div class="row" id="panel_generalInfo">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div align="center">
                    <font size="4">
                        Learn about  Panama Nest
                    </font>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div>
                <div class="row" style="margin-bottom:15px">
                    <div class="col-md-6">
                        <div class="row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    <font color="black" size="4">
        <div style="margin-left:47px">
            <div style="margin-right:47px">
                The Panama Nest Ontology is a project developed by students from Universidad Tecnológica de Panamá.
                The Panama Nest is an ontology focused on the taxonomy and characteristics of birds that can be
                found within Panamanian territory.<br />
            </div>
        </div>
    </font>
</p>

