@{
    ViewData["Title"] = "Contact";
}


<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Contact</h1>
        </div>
    </div>
    <div>
        <img src="~/images/logo_utp.png" alt="UTP logo" style="margin-left:80px;margin-top:50px;width:400px;height:400px;float:left">

        <h3 style="margin-left:600px">Jackelin Chong</h3>
        <div style="margin-left:600px">
            <div style="margin-right:47px">
                Universidad Tecnológica de Panamá
                <br />
                jackelin.chong@utp.ac.pa
            </div>
        </div>
        <h3 style="margin-left:600px">Iván Martínez</h3>
        <div style="margin-left:600px">
            <div style="margin-right:47px">
                Universidad Tecnológica de Panamá
                <br />
                ivan.martinez1@utp.ac.pa
            </div>
        </div>
        <h3 style="margin-left:600px">Omar Mejía</h3>
        <div style="margin-left:600px">
            <div style="margin-right:47px">
                Universidad Tecnológica de Panamá
                <br />
                omar.mejia@utp.ac.pa
            </div>
        </div>
        <h3 style="margin-left:600px">Gabriela Reyes</h3>
        <div style="margin-left:600px">
            <div style="margin-right:47px">
                Universidad Tecnológica de Panamá
                <br />
                gabriela.reyes@utp.ac.pa
            </div>
        </div>
        <h3 style="margin-left:600px">Andrés Tuñón</h3>
        <div style="margin-left:600px">
            <div style="margin-right:47px">
                Universidad Tecnológica de Panamá
                <br />
                andres.tuñon@utp.ac.pa
            </div>
        </div>
        <h3 style="margin-left:600px">Carlos Villareal</h3>
        <div style="margin-left:600px">
            <div style="margin-right:47px">
                Universidad Tecnológica de Panamá
                <br />
                carlos.villareal@utp.ac.pa
            </div>
        </div>
    </div>

</div>